.container {
  padding: 1.2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarOption {
  display: flex;
}

.loginBtn {
  cursor: "pointer";
  background-color: rgba(22, 73, 114, 0.76);
  width: fit-content;
  font-size: 1rem;
  padding-block: 0.6rem;
  padding-inline: 1.2rem;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s;
  color: white;
}
