.container {
  background: rgb(237, 236, 236);
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.backdropContainer {
  width: 100%;
  height: 30vh;
  position: relative;
  background: url("https://images.pexels.com/photos/975771/pexels-photo-975771.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0 0;
}

.backdropContainer img {
  height: 10em;
  width: 10em;
  border-radius: 50%;
  position: absolute;
  bottom: -25%;
  left: 1.5%;
  border: 5px solid white;
}

.profileContainer_details {
  padding-top: 4.6rem;
}

.profileContainer_details_second {
  display: flex;
  gap: 0.7rem;
}

.details_left {
  flex: 0.8;
}

.childOfDetails_left {
  display: flex;
  max-width: fit-content;
  align-items: center;
  gap: 1.2rem;
}

.details_right {
  flex: 0.2;
}

.card {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.card_postContainer {
  display: flex;
}

.card_postContainer > img {
  width: 3.5rem;
  height: auto;
  object-fit: cover;
}

.connectBtn {
  background-color: rgb(100, 179, 228);
  color: white;
  border: none;
  padding-inline: 0.8rem;
  padding-block: 0.3rem;
  cursor: pointer;
  border-radius: 10px;
}
.connectedBtn {
  background-color: white;
  color: rgb(100, 179, 228);
  border: none;
  padding-inline: 0.8rem;
  padding-block: 0.3rem;
  cursor: pointer;
  border: 0.8px solid rgb(100, 179, 228);
  border-radius: 10px;
}

.workHistory_container {
  display: "flex";
  gap: 1.4rem;
  padding-top: 1.4rem;
  width: 100%;
  flex-wrap: wrap;
}

.workHistory_card {
  min-width: fit-content;
  padding-inline: 2.5rem;
  padding-block: 1rem;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgb(71, 71, 71);
}

.downloadProfile {
  width: 1.3em;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .profileContainer_details_second {
    flex-direction: column;
  }

  .backdropContainer {
    width: 100%;
    height: 15vh;
    position: relative;
    background: url("https://images.pexels.com/photos/975771/pexels-photo-975771.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0;
  }

  .backdropContainer img {
    height: 3em;
    width: 3em;
    border-radius: 50%;
    position: absolute;
    bottom: -25%;
    left: 1.5%;
    border: 1px solid white;
  }

  .container {
    width: fit-content;
    padding: 7.8px;
    padding-bottom: 2.3rem;
  }
}
